  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign Up<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" routerLink="/login-doctor">Physicians</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/profile-doctor">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/search">Search</a>
        </li>
      </ul>
    </div>
  </nav>