<nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
  <div class='container-fluid'>
    <ul class='nav navbar-nav'>
      <li style="padding-right:10px;">
        <button routerLink="/home" class="btn btn-primary">Home</button>
      </li>
      <li style="padding-right:10px;">
        <button routerLink="/pokemon" class="btn btn-primary">Pokemon List</button>
      </li>
      <li style="padding-right:10px;">
        <button routerLink="/1-pokemon" class="btn btn-primary">One Pokemon</button>
      </li>
    </ul>
  </div>
 </nav>
 <router-outlet></router-outlet>
